    

/*=============================================================*/
/*=============        320PX ATÉ 576PX     ====================*/
/*=============================================================*/
@media(min-width: 320px) and (max-width: 576px){
    .navbar-brand img {
        width: 225px!important;
        margin-top: 7px;
    }
}

/*=============================================================*/
/*===============   FIM - 320PX ATÉ 576PX  ====================*/
/*=============================================================*/



/*============================================================================================================================================================================================*/



/*=============================================================*/
/*=============        577PX ATÉ 768PX     ====================*/
/*=============================================================*/
@media(min-width: 577px) and (max-width: 768px){
   
}

/*=============================================================*/
/*===============   FIM - 577PX ATÉ 768PX  ====================*/
/*=============================================================*/



/*============================================================================================================================================================================================*/



/*=============================================================*/
/*=============        768PX ATÉ 992PX     ====================*/
/*=============================================================*/
@media(min-width: 769px) and (max-width: 992px){

    .navbar-brand img {
        width: 254px!important;
        margin-top: 3px;
    }

}
/*=============================================================*/
/*===============   FIM - 768PX ATÉ 992PX  ====================*/
/*=============================================================*/



/*============================================================================================================================================================================================*/



/*============================================================================================================================================================================================*/
/*=============================================================*/
/*=============        993PX ATÉ 1200PX     ===================*/
/*=============================================================*/
@media(min-width: 993px) and (max-width: 1200px){

    
}

/*=============================================================*/
/*===============   FIM - 993PX ATÉ 1200PX  ===================*/
/*=============================================================*/



/*============================================================================================================================================================================================*/



/*=============================================================*/
/*=============        1200PX EM DIANTE     ===================*/
/*=============================================================*/

@media(min-width: 1201px) {

}

/*=============================================================*/
/*===============   FIM - 1200PX EM DIANTE  ===================*/
/*=============================================================*/

